<h1 class="title" >Question index</h1><br />
<ul>

<% @questions.each do |question| %>
  <li>
    <div class="nine columns"> <%= link_to question.question, question %></div>
    <div class="two columns">
          <%= link_to '+', [:positive_vote, question], :method => :put %> |
          <%= link_to '-', [:negative_vote, question], :method => :put %>
    </div>
    <div class="two columns"><%=  question.user %></div>
  </li>
<% end %>
</ul> <br />
<%= link_to 'New Question', new_question_path %>

