<h1 class="title">Question show</h1><br />

<ul class="list">
  <li class="content row" >
    <div class="one columns"><%= time_ago_in_words(@question.created_at) %></div>
    <div class="thirteen columns"><%=  @question.question %></div>
    <div class="two columns"><%=  @question.user %></div><br/><br/>
    <div class="two columns">
      <label class="green"><%= @question.positive_vote %></label>  | 
      <label class="red"><%= @question.negative_vote %></label>
    </div><br />
    <br />

    <% if user_signed_in? %>
    <div class="two columns">
      <%= link_to image_tag("vote-arrow-up-on.png") , [:positive_vote, @question], :method => :put %>
      <%= link_to image_tag("vote-arrow-down-on.png") , [:negative_vote, @question], :method => :put %>
    </div>
    <% end -%>
  </li>
</ul><br />

<ul class="list">
      <li class="item highlight row">
        <div class="thirteen columns">Creado el</div>
        <div class="thirteen columns">Respuesta</div>
        <div class="two columns">Usuario</div>
        <span class="divider"></span>
      </li><br/>
  <% @question.answers.each do |answer| %>
      <% next if answer.new_record? %>
      <li class="item row">

        <div class="two columns"><%= time_ago_in_words(answer.created_at) %></div>
        <div class="thirteen columns">
          <%= answer.body %>
        </div>
        <div class="two columns">
        <%= answer.user %>
        </div><br/><br/>
        <div class="two columns">
          <label class="green"><%= answer.positive_vote %></label>  | 
          <label class="red"><%= answer.negative_vote %></label>
        </div><br />
        <br />
        

        <% if user_signed_in? -%>
       <div class="two columns">
        <%= link_to image_tag("vote-arrow-up-on.png") , [:positive_vote, @question, answer], :method => :put %>
        <%= link_to image_tag("vote-arrow-down-on.png") , [:negative_vote, @question, answer], :method =>  :put %>
      </div>
      <% end -%>
      
      </li><br/>
  <% end %>
</ul>
<% if user_signed_in? %>
<div id="new-log-entry-box"><%= render 'answers/form' %></div><br />
<% else %>
<%= link_to "Publica tu respuesta", new_user_session_path %><br/><br/>

<% end %>
<%= link_to 'Back', questions_path %>

