<h1 class="title">Question show</h1><br />
<p id="notice"><%= notice %></p>




<p class="content">
  <%=  @question.question %>
  <%=  @question.user %>
  <%=  @question.solved %>

</p><br />

<%= link_to 'New Question', new_question_path %> |
<%= link_to 'Back', questions_path %>

