<h1 class="title">Question show</h1><br />
<p id="notice"><%= notice %></p>

<ul class="list">
  <li class="content row" >
    <div class="one columns"><%=  @question.created_at("%B %d, %Y") %></div>
    <div class="thirteen columns"><%=  @question.question %></div>
    <div class="two columns"><%=  @question.user %></div>
    <div><%=  @question.solved %></div>
  </li>
</ul><br />

<ul class="list">
      <li class="item row">
        <div class="thirteen columns">Creado el</div>
        <div class="thirteen columns">Respuesta</div>
        <div class="two columns">Usuario</div>
        <span class="divider"></span>
      </li><br/>
  <% @question.answers.each do |answer| %>
      <% next if answer.new_record? %>
      <li class="item row">
        <div class="two columns"><%= time_ago_in_words(answer.created_at) %></div>
        <div class="thirteen columns">
          <%= answer.body %>
        </div>
        <div class="two columns">
        <%= answer.user %>
        </div>
       <div class="two columns">
        <%= link_to '+', [:positive_vote, @question, answer], :method => :put %> |
        <%= link_to '-', [:negative_vote, @question, answer], :method => :put %>
      </div>
      </li><br/>
  <% end %>
</ul>
<div id="new-log-entry-box"><%= render 'answers/form' %></div><br />


<%= link_to 'Back', questions_path %>

